#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

.bg-warning .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-warning {
  width: 100vw;      
  margin: 0;          
  padding: 40px 0;    
}

body {
  overflow-x: hidden;  
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}